<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco corsi</title>
</head>
<body>   
    <header>
        <nav>
            <ul>
                <li>Pagina 1</li>
                <li>Pagina 2</li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
    
    @RenderBody()

    <footer>
        <p>Contattaci al numero...</p>
    </footer>
</body>
</html>
